---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


<p>I have also presented my work internally at the University of Chicago at two workshops, <a href="https://voices.uchicago.edu/transnationaleurope/">Transnational Approaches to Modern Europe</a> and <a href="https://voices.uchicago.edu/jst_hb/">Jewish Studies</a>.</p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
